* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.bg {
    width: 1519px;
    height: 600px;
    margin: 0 auto;
}

.bg .header {
    margin: 0;
    text-align: center;
    color: rgb(6, 73, 17);
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg .header h1 {
    -webkit-text-stroke: 0.5px green;
    color: rgba(230, 245, 24, 0.904);
    font-size: 60px;
    font-family: 'IM Fell DW Pica SC';
    width: 1000px;
}

.ball {
    font-size: 30px;
}

.opening {
    -webkit-text-stroke: 0.1px white;
    font-weight: bold;
    font-size: x-large;
    color: rgb(243, 239, 9);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: burlywood;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    margin-bottom: -15px;
}

.navbar a.right {
    float: right;
}

.img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.sideImg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.favela {
    width: 980px;
    height: 410px;
    padding: 0px;
}

.hang {
    width: 980px;
    height: 410px;
    padding: 0px;
}

.intro {
    width: 370px;
    height: 260px;
    padding: 0px;
}

.sugar {
    width: 370px;
    height: 200px;
    padding: 0px;
}

.beach {
    width: 370px;
    height: 200px;
    padding: 0px;
}

.lancius {
    width: 370px;
    height: 200px;
    padding: 0px;
}

form.example input[type=text] {
    float: right;
    width: 120px;
    height: 34px;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-right: 0.3px;
    font-size: 17px;
}

form.example button {
    float: right;
    width: 34px;
    height: 34px;
    padding: 6px;
    border: none;
    margin-right: 5px;
    margin-top: 14px;
    font-size: 17px;
    background: white;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 130px;
    padding: 0;
    margin: 0;
}

.footer .email {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer .phone {
    float: right;
    margin-top: 5px;
    margin-right: 45px;
    margin-bottom: 5px;
}

.footer .facebook {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-right: -100px;
    margin-bottom: 5px;
    cursor: pointer;
}

.footer .linkedin {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-right: -60px;
    margin-bottom: 5px;
    cursor: pointer;
}

.footer .instagram {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-right: -20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.footer .copyright {
    float: center;
    margin-left: 20px;
    margin-top: 50px;
}